@charset "UTF-8";
/* CSS Document */

body {
	margin:2cm;
	font-family:"Fira Mono","Lucida Console",Monaco,monospace;
	font-size:11pt;
}

.T1 {
	width:100%;
	border:0px;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	font-weight:regular;
	writing-mode:page;
}

TABLE.MINI {
	vertical-align:middle;

}

DIV.container {
    min-height: 10em;
	height:100%;
    display: table-cell;
    vertical-align: middle ;
}

.fu {
	text-align:center;
	width:100%;
	font:"Fira Sans SemiBold Italic";
	font-size:32px;
}


tr, td {
	font-weight:normal;
	text-decoration:none;
	padding:0px;
	margin:0px;
	text-align:left;
	vertical-align:top;
}

.PH1 {
	color:#ffffff;
	background-color:#000000;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	writing-mode:page;
}

.PH2 p {
	text-decoration:underline;
}

.PH3 p {
	text-indent:20px;
}
